
.name-item {
    align-items: center;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 50px;
    padding: 8px;
    border-radius: 4px;
    background-color: #e5e7d2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-right: 20px;
    gap: 40px;
    font-size: 20px;
}

.points-item {
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: #e5e7d2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    font-size: 20px;
}