.panel {
    background-color:#c5c4c4;
    max-height: 300px;
    margin: 0 auto;
    padding: 16px;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.ul-style {
    padding: 0;
    margin: 0;
    list-style: none;
}

.act-cat {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 6px;
    gap: 40px;
}

.category-item {
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f6f7ef;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.activity-item {
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: #e5e7d2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.delete-button {
   transition: transform 500ms ease; 
}

.delete-button:hover {
    transform: scale(1.1);
 }

.points-item {
    align-items: center;
    margin-bottom: 8px;
    margin-right: 50px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f6f7ef;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    gap: 40px;
}


.points-item p {
    margin: 0;
}