.navbar {
    color:black;
    background-color: #a09f91ff;
    
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.navbar-nav .nav-link svg {
    font-size: 20px;
    transition: transform 02s ease, opacity 0.2s ease;
}

.navbar-nav .nav-link:hover svg {
    transform: scale(1.1);
    opacity: 0.8;
}

.search-icon {
  height: 30px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.logout-drop {
    display: flex;
}

.gap {
    padding: 5px;
}

.logout {
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}


.search-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.pfp {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.pfp:hover {
    transform: scale(1.05);
}
